/*
.page-header a {
    float: right;
}
*/
.row{
    padding-left: 15px;
    padding-right: 15px;
}
footer{
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f2f2f2;
}
.footer img{
    /*    display: inline;*/
    width: 45px;
    /*    height: 45px;*/
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.img-center {
    display: flex;
    justify-content: space-around;
    /*    align-items: center;*/

}

@media(min-width:768px) {

    .row{
        padding-left: 35px;
        padding-right: 35px;
    }


    footer{
/*        position: absolute;*/
    }
}

@media(min-width: 900px) {

    .row{
        padding-left: 50px;
        padding-right: 50px;
    }


    footer{
/*        position: absolute;*/
    }
}
